body {
	background-color: white;
	font-size: 16px;
	text-align: center;
}

.bar {
	display: inline block;
	width: 20px;
	margin-right: 2px;
	fill: yellow;
}

.container {
	width: 1180px;
}

.belt {
	margin: 0 auto;
	width: 80%;
}


@media (min-width: 768px) {
	.container {
		width: 700px;
	}
	.belt {
		width: 50%;
		margin: 0 auto;
	}
}



.button {
	margin-top: 5em;
}

img {
	width: 75%
}


button {
	font-size: 1em;
	padding: 2em;
}

.hero {
	background-color: red;
	padding: 3em 0;
	width: 100%;
	float: left;
}

.container {
	margin: 0 auto;
	width: 85%;
}

.third {
	float: left;
	width: 100%;
}

h1 {
	color: white;
}

h2 {
	color: white;
	font-size: 5em;
}

.third p {
	font-size: 2em;
	color: white;
}

.fa-twitter-square {
	color: white;
}

@media (min-width: 768px) {
	.third {
		float: left;
		width: 31%;
		margin-right: 2%;
	}

	body {
		background-color: blue;
		font-size: 16px;
	}

	img {
		width: 25%;
	}

}

@media (min-width: 1180px) {
	.third {
		float: left;
		width: 31%;
		margin-right: 2%;
	}

	body {
		background-color: green;
		font-size: 20px;
	}

	img {
		width: 25%
	}
}